<div>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Código Postal</th>
        <th>Colonia</th>
        <th>Número Exterior</th>
        <th>Calle</th>
        <th>Descripción</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ubicacion of ubicaciones"> <!-- Cambiado a 'ubicaciones' -->
        <td>{{ ubicacion.id }}</td>
        <td><input [(ngModel)]="ubicacion.codigo_postal" /></td>
        <td><input [(ngModel)]="ubicacion.colonia" /></td>
        <td><input [(ngModel)]="ubicacion.numero_exterior" /></td>
        <td><input [(ngModel)]="ubicacion.calle" /></td>
        <td><input [(ngModel)]="ubicacion.descripcion" /></td>
        <td>
          <button (click)="actualizarUbicacion(ubicacion)">Actualizar</button>
          <button (click)="eliminarUbicacion(ubicacion.id)">Eliminar</button>
        </td>
        <a href="/admin">Volver</a>
      </tr>
    </tbody>
  </table>
</div>
