<body>
    <div class="edit-product-container">
        <div class="table-container">
          
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Titular</th>
                        <th>Número de Tarjeta</th>
                        <th>Fecha de Expiración</th>
                        <th>CVV</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tarjeta of tarjetas">
                        <td>{{ tarjeta.id }}</td>
                        <td>{{ tarjeta.titular }}</td>
                        <td>{{ tarjeta.numero_tarjeta }}</td>
                        <td>{{ tarjeta.fecha_expiracion }}</td>
                        <td>{{ tarjeta.cvv }}</td>
                        <td>
                            <button class="btn btn-danger" (click)="eliminarTarjeta(tarjeta.id)">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="volver-container">
            <a href="/admin" class="btn-back">Volver</a>
        </div>
    </div>
</body>
