<body>
    <div class="container">
        <header class="header">
            <h1>Aviso de Privacidad</h1>
        </header>

        <section class="content">
            <p>En <strong>GlamShop</strong>, estamos comprometidos con la protección de tus datos personales y el cumplimiento de la <strong>Ley Federal de Protección de Datos Personales en Posesión de los Particulares</strong> (LFPDPPP) en México. Este aviso de privacidad describe cómo recopilamos, utilizamos, protegemos y en algunos casos compartimos tu información personal.</p>
            
            <h2>1. Datos personales que recopilamos</h2>
            <p>Podemos recopilar información como tu nombre, correo electrónico, dirección, número de teléfono y detalles de pago, entre otros, cuando realizas transacciones en nuestra plataforma.</p>
            
            <h2>2. Finalidad del uso de tus datos</h2>
            <p>Utilizamos tus datos personales para procesar tus compras, brindarte asistencia, mejorar nuestros servicios y ofrecerte promociones personalizadas.</p>
            
            <h2>3. Transferencia de datos</h2>
            <p>Tus datos personales no serán compartidos con terceros sin tu consentimiento, salvo en los casos previstos por la ley, como solicitudes de autoridades competentes.</p>
            
            <h2>4. Derechos ARCO (Acceso, Rectificación, Cancelación y Oposición)</h2>
            <p>Como titular de los datos personales, tienes derecho a acceder, rectificar, cancelar u oponerte al tratamiento de tus datos. Para ejercer estos derechos, puedes contactarnos a través de nuestro correo de soporte en <a href="mailto:privacidad@glamshop.mx">privacidad-glam.com</a>.</p>
            
            <h2>5. Seguridad de la información</h2>
            <p>Implementamos medidas de seguridad físicas, técnicas y administrativas para proteger tus datos personales contra pérdida, uso indebido o acceso no autorizado.</p>
            
            <h2>6. Cambios en el aviso de privacidad</h2>
            <p>Nos reservamos el derecho de modificar este aviso de privacidad en cualquier momento. Los cambios se notificarán a través de nuestro sitio web.</p>
            
            <p>Para más información o dudas sobre este aviso de privacidad, contáctanos en <a href="mailto:privacidad@glamshop.mx">privacidad-glam.com</a>.</p>
        </section>

        <a   href="/inicio"     class="btn-back" >Volver</a>
    </div>
</body>

