<div class="container">
  <div class="form-container">
    <img src="logo.png" alt="Logo" class="logo">
    <h1>Reportes TI</h1>

    <!-- Formulario con FormGroup -->
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <label for="username">Usuario</label>
      <input 
        type="text" 
        id="username" 
        formControlName="username" 
        placeholder="Ingresa tu usuario" 
        required
      >

      <label for="password">Contraseña</label>
      <input 
        type="password" 
        id="password" 
        formControlName="password" 
        placeholder="Ingresa tu contraseña" 
        required
      >

      <button type="submit" [disabled]="loginForm.invalid">Enviar</button>
      <p *ngIf="mensajeError" class="error">{{ mensajeError }}</p>
    </form>
  </div>
</div>cambia el html por esto