<body>
  <header class="header">
      <div class="logo">GlamShop</div>
      <nav class="nav">
          <ul>
              <li><a href="/inicio">Inicio</a></li>
          </ul>
      </nav>
  </header>

  <main class="main-container">
      <!-- Mostrar carrito si hay productos -->
      <div class="cart-container" *ngIf="carrito.length > 0; else carritoVacio">
          <h1>Carrito de Compras</h1>
          <div class="cart-items">
              <!-- Recorrer los productos del carrito -->
              <div class="cart-item" *ngFor="let producto of carrito; let i = index">
                  <img
                      [src]="producto.imagen ? producto.imagen : 'ruta/por/defecto.png'"
                      alt="{{ producto.nombre_producto }}"
                      class="item-image"
                  />
                  <div class="item-details">
                      <h2 class="item-name">{{ producto.nombre_producto }}</h2>
                      <p class="item-price">Precio: ${{ producto.precio }}</p>
                      <div class="item-quantity">
                          <label for="quantity-{{ i }}">Cantidad:</label>
                          <input
                              type="number"
                              id="quantity-{{ i }}"
                              name="quantity"
                              min="1"
                              [value]="producto.cantidad"
                              (change)="onCantidadChange($event, i)"
                          />
                      </div>
                  </div>
                  <button class="remove-item-button" (click)="eliminarDelCarrito(i)">
                      Eliminar
                  </button>
              </div>
          </div>
          <div class="cart-summary">
              <h2>Resumen del Pedido</h2>
              <p>Total: ${{ totalCompra }}</p>
              <button routerLink="/tarjetas" class="checkout-button" (click)="procederAlPago()">
              </button>
              <a href="/QR" class="boton-pago">Proceder a pago</a>
          </div>
      </div>
      <!-- Mostrar mensaje si el carrito está vacío -->
      <ng-template #carritoVacio>
          <h2>Tu carrito está vacío</h2>
      </ng-template>
  </main>

  <footer class="footer">
      <p>&copy; 2024 GlamShop. Todos los derechos reservados.</p>
  </footer>
</body>
