/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ajuste realizado para asegurar que el formulario se centre */
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    margin: auto; /* Asegura que se centre también horizontalmente si no hay suficiente espacio */
}

/* Logo container */
.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.logo {
    width: 100px;
    height: auto;
}

h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
}

/* Form group styles */
.form-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.item {
    display: flex;
    align-items: center;
    background-color: #fafafa;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    flex-wrap: wrap;
}

.icon {
    font-size: 24px;
    color: #888;
    margin-right: 15px;
}

.info {
    flex: 1;
}

.info h3 {
    font-size: 16px;
    color: #555;
    font-weight: 600;
}

.info p {
    font-size: 14px;
    color: #777;
    margin-top: 5px;
}

.add-button {
    padding: 6px 10px;
    background-color: #888;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
}

.add-button:hover {
    background-color: #666;
}

/* Input field styles */
.input-field {
    display: none;
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

/* Register button style */
.register-button {
    margin-top: 20px;
    padding: 10px 0;
    width: 100%;
    background-color: #888;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.register-button:hover {
    background-color: #666; /* Ajuste de color para diferenciar mejor el hover */
}

/* Login icon style */
.login-icon {
    margin-top: 20px;
    font-size: 16px;
}

.login-icon a {
    color: #888;
    text-decoration: none;
}

.login-icon a:hover {
    text-decoration: underline;
}
