.container {
    width: 80%;
    max-width: 400px;
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.field-group {
    margin-bottom: 20px;
}

label {
    text-align: left;
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    padding: 12px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none;
}

input[type="text"]:focus,
textarea:focus {
    outline: none;
    border-color: #4CAF50;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #808080; /* Gris */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #696969; /* Gris más oscuro al pasar el ratón */
}

.button-style {
    background-color: #808080; /* Gris */
    color: #fff;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block; /* Para que se comporte como un botón */
}