<!-- Menú Superior -->
<div class="menu-superior">
  <a href="/inicio" class="btn-volver" >Volver</a>
</div>

<!-- Productos disponibles -->
<div class="productos-container">
  <div *ngIf="productos.length === 0" class="no-resultados">
    No hay productos disponibles.
  </div>

  <div *ngFor="let producto of productos" class="producto-card">
    <div class="producto-imagen-container">
      <img
        [src]="producto.imagen"
        [alt]="producto.nombre_producto"
        class="producto-imagen"
        (error)="imagenError($event)"
      />
    </div>

    <div class="producto-info">
      <h3>{{ producto.nombre_producto }}</h3>
      <p>Precio: {{ producto.precio | currency }}</p>
      <p>Descripción: {{ producto.descripcion }}</p>
      <p>Categoría: {{ producto.categoria }}</p>
      <button (click)="agregarAlCarrito(producto.id)" class="add-to-cart">Añadir al carrito</button>
    </div>
  </div>
</div>
