<body>
    <div class="container">
        <header class="header">
            <img src="glam.png" alt="Logo GlamShop" class="logo">
            <h1>Elige Tu Plan</h1>
        </header>

        <div class="plan-cards">
            <div class="plan-card">
                <div class="plan-header plan-basic-header">
                    <h2>Plan Básico</h2>
                    <p>$299 / mes</p>
                    <span class="arrow">▼</span>
                </div>
                <div id="basic-details" class="plan-details">
                    <ul>
                        <li>Soporte por email.</li>
                        <li>Actualizaciones estándar.</li>
                        <li>Sin comisión por ventas realizadas.</li>
                    </ul>
                </div>
                <a  href="/tarjetas"        class="btn-select">Seleccionar</a>
            </div>

            <div class="plan-card">
                <div class="plan-header plan-premium-header">
                    <h2>Plan Premium</h2>
                    <p>$399 / mes</p>
                    <span class="arrow">▼</span>
                </div>
                <div id="premium-details" class="plan-details">
                    <ul>
                        <li>Soporte prioritario 24/7.</li>
                        <li>Actualizaciones premium.</li>
                        <li>Exposición prioritaria de productos en la plataforma.</li>
                        <li>Entrega rápida: envío asegurado en 12 horas.</li> 
                        <li>Sin comisión por ventas realizadas.</li>
                    </ul>
                </div>
                <a href="/tarjetas"            class="btn-select">Seleccionar</a>
            </div>
        </div>

        <button class="btn-back">Volver</button>
    </div>

    <script src="script.ts"></script>
</body>
